[data-testid="stSidebar"][aria-expanded="true"]{
    min-width: 300px;
    max-width: 300px;}

[data-testid=stSidebar] [data-testid=stImage]{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 10px;}

#product-recommendation-dashboard{
    margin-top: -20px;
    padding-bottom: 30px;
}
#product-recommendation-application{
    margin-top: -20px;
}

[data-testid="stMetricValue"] {

    color: #e8962f;

}
[data-testid=stHorizontalBlock] [data-testid=column].css-1r6slb0{
    margin-top: 10px;
}

[data-testid=column].css-1rrbo1k:nth-child(2){
    margin-top: -36px;
}
div.css-m9mqwd:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    margin-top:15px;
}

[data-testid=column].css-ocqkz7:nth-child(9) > div:nth-child(1){
    margin-top: -33px;
}